{% extends 'layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'summary-list/macro.njk' import summaryList %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check your answers before sending a test request</h1>

      <h2 class="nhsuk-heading-m">
        Personal details
      </h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Are you magical?"
            },
            value: {
              text: data.hasSymptoms
            },
            actions: {
              items: [
                {
                  href: "/magical-power",
                  text: "Change",
                  visuallyHiddenText: "magical power"
                }
              ]
            }
          },
          {
            key: {
              text: "Your symptoms"
            },
            value: {
              text: data.symptoms
            },
            actions: {
              items: [
                {
                  href: "/symptoms",
                  text: "Change",
                  visuallyHiddenText: "symptoms"
                }
              ]
            }
          }
        ]
      }) }}


      <h2 class="nhsuk-heading-m">
        Now send your application
      </h2>

      <p>
        Your details will be sent to the Department of Witches and Wizards (DWW).
      </p>

      <form action="/confirmation" method="post" novalidate>
        {{ button({
          text: "Confirm and send"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}